.container{
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
}

.container .picker{
    width: calc(100vw - 120px)
}

.container .picker .canvas_area{
    width: 100%;
    height: calc(100vh - 40px);
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .picker .canvas_area::-webkit-scrollbar{
    display: none;
}

.container .picker #paste-btn{
    width: 100%;
    height: 40px;
    font-weight: bolder;
    font-size: large;
    background-color: #a6d4f7;
    border-radius: 8px;
    border: none;
    color: #fff;
}

.container .selector{
    width: 120px;
    height: 100vh;
    background-color: #f5f5f5;
    border-left: 2px solid #EDECED;
}

.container .selector .hovered-color{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

/* 색 선택 부분 */
.container .selector .selected_container{
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 100px);

}

.container .selector .selected_container::-webkit-scrollbar{
    display: none;
}


.container .selector .selected_container .selected-color{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    text-align: center;
    cursor: pointer;
}