.container{
    width: 100%;
    background-color: royalblue;
    display: flex;
}

.container .picker{
    flex-grow: 1;
}

.container .picker .canvas_area{
    height: calc(100vh - 40px);
    overflow: scroll;
    
}

.container .picker #pasteBtn{
    width: 100%;
    height: 40px;
    font-weight: bolder;
    font-size: large;
    background-color: #a6d4f7;
    border-radius: 8px;
    border: none;
    color: #fff;
}

.container .selector{
    width: 400px;
    height: 100vh;
    background-color: salmon;
    overflow: scroll;
    
}


.container .selector::-webkit-scrollbar{
    display: none;
}